.char_div {
  width: 100%;
  background-image: url("../public/char-img.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form_input {
  width: 200px;
}

@media (max-width: 575.98px) {
  .login_container {
    margin: auto !important;
  }
  .form_input {
    width: 100%;
  }
  .char_div {
    display: none;
  }
  .final_text {
    p {
      text-align: center;
      margin-bottom: 0px;
    }
  }
}
